[package]
name = "twilight-line-rust"
description = "another tunnel proxy"
version = "1.0.0"
authors = ["kaien <kaienkira@gmail.com>"]
publish = false

[dependencies]

[[bin]]
name = "twilight-line-rust-client"
path = "src/client/main.rs"

[[bin]]
name = "twilight-line-rust-server"
path = "src/server/main.rs"
